name: iOS Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Show Xcode version
        run: xcodebuild -version
        
    - name: Run Unit Tests (only)
      run: |
       set -o pipefail
       xcodebuild test \
         -scheme "FinanzasApp" \
         -only-testing:FinanzasAppTests \
         -destination 'platform=iOS Simulator,name=iPhone 16,OS=latest'

    
